body {
  margin: 0;
  font-family: rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form div {
  display: flex;
}

.MuiTypography-h6 {
  align-self: flex-end;
  display: inline-block;
  margin: 0 8px 0 0 !important;
}
